<section id="randomPosts" class="section-padding wow fadeInUp delay-05s">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2 class="service-title pad-bt15">The world is yours!</h2>
        <hr>
        <p class="sub-title pad-bt15" style="font-size:22px;font-weight:bold;"> “Travel makes one modest. You see what a tiny place you occupy in the world.” <br>Gustave Flaubert</p>
        <hr class="bottom-line">
      </div>
      <%if(typeof user === "undefined"){%>
        <%trips.forEach((oneTrip, index)=>{%>
          <a href="/trips/<%= oneTrip._id %>">
      <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item padding-right-zero mr-btn-15">
        <figure>
          <img src="<%=oneTrip.photoAddress[0]%>" class="img-responsive pic">
          <figcaption>
              <h2><%= oneTrip.country %></h2>
            <p class="center"><%= ownersNames[index] %></p>
            <!-- <img src="<%= ownersPictures[index] %>" alt=""> -->

              <span><%= oneTrip.something %></span>
          </figcaption>
        </figure>
      </div>
      </a>
      <%});%>
      <%} else {%>
        <%trips.forEach((oneTrip, index)=>{%>
          <a href="/trips/<%= oneTrip._id %>">
      <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item padding-right-zero mr-btn-15">
        <figure>
          <img src="<%=oneTrip.photoAddress[0]%>" class="img-responsive pic">
          <figcaption>
              <h2><%= oneTrip.country %></h2>
              <p class="center"><%= ownersNames[index] %></p>
              <span><%= oneTrip.something %></span>
          </figcaption>
        </figure>
      </div>
      </a>
      <%});%>
        <% } %>

    </div>
  </div>
</section>

<section id="service" class="section-padding wow fadeInUp delay-05s">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2 class="service-title pad-bt15">EXPLORE THIS LOVELY WORLD!</h2>
        <p class="sub-title pad-bt15" style="color:#be9e21;"><strong><i>Of all the books in the world, the best storries are found<br>between a pages of a passport.</i></strong></p>
        <hr class="bottom-line">
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="service-item">
          <h3><span>B</span>osnia</h3>
          <p>Bosnia and Herzegovina is one of the last undiscovered regions of the southern Alps. Vast tracks of wild and untouched nature make it an ideal holiday destination for adventurers and nature lovers alike.</p>
          <a href="http://www.bhtourism.ba/eng/">Read more...</a>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="service-item">
          <h3><span>S</span>erbia</h3>
          <p>Serbia has connected West with East for centuries – a land in which civilisations, cultures, faiths, climates and landscapes meet and mingle. It is located in the centre of the Balkan Peninsula, in southeastern Europe.</p>
          <a href="http://www.serbia.travel/home.779.html">Read more...</a>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="service-item">
          <h3><span>F</span>lorida</h3>
          <p>The state of Florida is a year-round tourist destination due to its continuous mild to warm weather. Its top cities for tourism are around the peninsula that makes up the state's southern end. These cities offer a mix of theme parks, beaches, nightclubs and sporting events, attracting tourists of all ages.</p>
          <a href="http://traveltips.usatoday.com/top-cities-tourism-florida-38217.html">Read more...</a>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="service-item">
          <h3><span>S</span>pain</h3>
          <p>Spain’s diverse landscapes stir the soul. The Pyrenees and the Picos de Europa are as beautiful as any mountain range on the continent, while the snowcapped Sierra Nevada rises up improbably from the sun-baked plains of Andalucía; these are hiking destinations of the highest order. </p>
          <a href="https://www.lonelyplanet.com/spain">Read more...</a>
        </div>
      </div>
    </div>
  </div>
</section>
