<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>iTraveller</title>
  <meta name="description" content="Free Bootstrap Theme by BootstrapMade.com">
  <meta name="keywords" content="free website templates, free bootstrap themes, free template, free bootstrap, free website template">

  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:400,300|Raleway:300,400,900,700italic,700,300,600">
  <link rel="stylesheet" type="text/css" href="/stylesheets/css/jquery.bxslider.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/css/animate.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/css/myStyle.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/css/style.css">
  <!-- =======================================================
      Theme Name: Baker
      Theme URL: https://bootstrapmade.com/baker-free-onepage-bootstrap-theme/
      Author: BootstrapMade.com
      Author URL: https://bootstrapmade.com
  ======================================================= -->
</head>




<link rel="stylesheet" href="https://opensource.keycdn.com/fontawesome/4.6.3/font-awesome.min.css"
integrity="sha384-Wrgq82RsEean5tP3NK3zWAemiNEXofJsTwTyHmNb/iL3dP/sZJ4+7sOld1uqYJtE" crossorigin="anonymous">


<section>

<div class="container" style="margin-top: 80px;">
  <div class="profile-head">
      <div class="col-sm-3 col-xs-12">
        <img id="profPic" src="<%= user.photo %>" class="img-responsive" />
          <br>
          <div class="social socPos">
            <a href=""><i class="fa fa-twitter faclass"></i></a>
            <a href=""><i class="fa fa-facebook faclass"></i></a>
            <a href=""><i class="fa fa-google-plus faclass"></i></a>
            <a href=""><i class="fa fa-linkedin faclass"></i></a>
          </div>
      </div>

      <div class="col-sm-5 col-xs-12 profSetup">
        <h5 style="font-family:'Roboto', font-weight:bold;";><%= user.name %></h5>
          <br><br>
            <ul class="capitalize">
              <li><span class="glyphicon glyphicon-briefcase faclass"></span><span class="aboutUser"><%= user.profession %> </span></li>
              <li><span class="glyphicon glyphicon-map-marker faclass"></span><span class="aboutUser"><%= user.location %></span></li>
              <li><span class="glyphicon glyphicon-envelope faclass"></span><span class="aboutUser"><a href="#" title="mail" style="text-transform:lowercase;"><%= user.email %></a></span></li>
                <% if (user.favPlace !== ''){ %>
                  <li><span class="glyphicon glyphicon-heart faclass"></span><span class="aboutUser"><%= user.favPlace %></span></li>
                <% }%>
            </ul>
      </div>
  </div>
</div>


<div id="sticky" class="container">

    <!-- Nav tabs -->
    <ul class="nav nav-tabs nav-menu1 tabs" role="tablist">
      <li class="active">
          <a href="#profile" role="tab" data-toggle="tab">
              <i class="fa fa-male"></i> Profile
          </a>
      </li>
      <li><a href="#change" role="tab" data-toggle="tab">
          <i class="fa fa-key"></i> Edit Profile
          </a>
      </li>
    </ul><!--nav-tabs close-->

    <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane fade active in" id="profile">
      <div class="container">
        <div class="col-sm-11" style="float:left;">
          <div class="hve-pro">
          <% if(user.about ==={}){ %>
            <p>Go to Edit profile section and add about your self.</p>
          <%} else {  %>
            <p style="text-transform:none;"><%= user.about %></p>
          <% } %>
          </div>
        </div>

    <br clear="all" />
      <div class="row" style="margin-left:50px;">
        <div class="col-md-6">
          <br><br>
          <div class="table-responsive responsiv-table">
            <table class="table bio-table">
                <tbody>
                   <tr>
                      <td>Name:</td>
                      <td><%= user.name %></td>
                   </tr>
                    <tr>
                        <td>Contury:</td>
                        <td><%= user.location %></td>
                    </tr>
                    <tr>
                        <td>Occupation:</td>
                        <td><%= user.profession %></td>
                     </tr>
              </tbody>
            </table>
            </div><!--table-responsive close-->
        </div><!--col-md-6 close-->

        <div class="col-md-6">
        <br><br>
          <div class="table-responsive responsiv-table">
            <table class="table bio-table">
              <tbody>
               <tr>
                  <td>Email:</td>
                  <td style="text-transform:lowercase;"><%= user.email %></td>
               </tr>
               <tr>
                  <td>Favorite place on Earth:</td>
                  <td><%= user.favPlace %></td>
               </tr>
                <tr>
                    <td>Social:</td>
                    <td><%= user.social %></td>
                 </tr>
              </tbody>
            </table>
            </div><!--table-responsive close-->
        </div><!--col-md-6 close-->

      </div><!--row close-->
    </div><!--container close-->
  </div><!--tab-pane close-->


<div class="tab-pane fade" id="change">
<div class="container fom-main">
<div class="row">
<div class="col-sm-12">
<h2 class="register">Edit Your Profile</h2>
</div>

</div>
<br>




<div class="row centerForm">

  <form class="form-horizontal main_form text-left" action="/profile" method="post"  id="edit_form" enctype="multipart/form-data">
    <fieldset>
    <div class="col-sm-12 col-md-6">
      <input type="text" name="pic" value="" id ="pic" style="display: none">

        <label class="col-sm-4 control-label" for="name-input"> Your Name </label>
        <div class="col-sm-8">
        <input  id="name-input" class="formLayout" type="text"
            name="profileName" value="<%= user.name %>" placeholder="Your name" required>
        </div>
        <br><br>

        <label class="col-sm-4 control-label" for="username-input"> Account Name </label>
        <div class="col-sm-8">
        <input  id="username-input" class="formLayout" type="text"
            name="profileUsername" value="<%= user.username %>" placeholder="Account name can't left blank."required>
        </div>
        <br><br>

        <label class="col-sm-4 control-label" for="userCountry"> Country </label>
        <div class="col-sm-8">
        <input  id="userCountry" type="text" class="formLayout"
            name="userCountry" value="<%= user.location %>"placeholder="Country" required>
        </div>
        <br><br>
        <label class="col-sm-4 control-label" for="userProfession"> Occupation</label>
        <input  id="userProfession" type="text" class="formLayout"
            name="userProfession" value="<%= user.profession %>" placeholder="Occupation" required>
        <br><br>
        <label class="col-sm-4 control-label" for="userEmail"> Email</label>
        <div class="col-sm-8">
        <input  id="userEmail" type="text" class="formLayout"
            name="userEmail" value="<%= user.email %>" placeholder="Your email">
        </div>
        <br><br>
      </div>
      <div class="col-sm-12 col-md-6">
        <label class="col-sm-4 control-label" for="userFavPlace"> Favorite place</label>
        <div class="col-sm-8">
          <input  id="userFavPlace" type="text" class="formLayout"
              name="userFavPlace" value="<%= user.favPlace %>" placeholder="Your favorite place on Earth">
        </div>
        <br><br>

        <label class="col-sm-4 control-label" for="current-password-input"> Password </label>
        <div class="col-sm-8">
          <input  id="current-password-input" type="password" class="formLayout"
              name="profileCurrentPassword" placeholder="Password">
        </div>
        <br><br>
        <label class="col-sm-4 control-label" for="new-password-input"> New Password </label>
        <div class="col-sm-8">
          <input  id="new-password-input" type="password" class="formLayout"
              name="profileNewPassword" placeholder="New Password">
        </div>
        <br><br>
        <label class="col-sm-4 control-label" for="userAbout">About me</label>
        <div class="col-sm-8">
          <textarea id="userAbout" name="userAbout" class="formLayout"> <%= user.about %> </textarea>
        </div>
        <br><br><br>
        <div>
          <label class="col-sm-4 control-label" for="user-photo-input">Upload photo</label>
          <div class="col-sm-8">
            <input id="user-photo-input" type="file" name="userPhoto">
          </div>
        </div>
        <br><br>
        <div class="form-group" style="display:inline">
          <div class="col-sm-4">
            <button type="button" id="submitbut" class="btn btn-warning submit-button">Save</button>
          </div>
          <div class="col-sm-4">
            <button type="button" class="btn btn-warning submit-button"><a href="/profile" style="text-decoration:none;color:#ffffff;">Cancel</a></button>
          </div>
          </div>
        </div>
    </div>
    </fieldset>
  </form>
</div>

</div><!--container close -->
</div><!--tab-pane close-->
</div><!--tab-content close-->
</div><!--container close-->

</section><!--section close-->

<style>
  form { display: inline; }
</style>
